<h1> <%= @user.username%>'s Score Log: </h1>
<html>
<body>

    <% @user.game_scores.each do |s|%>
    <%=s.score%> 
    <%=s.game_table.name%>
    <%=s.score_date.strftime("%D")%>  
    <br>
    <%end%>

    <%= link_to 'Return', user_path(@user)%>
    </body>
</html>