<html>
    <body>
    
    <%= form_for(@score) do |f| %>
    
    <div class="field<%= ' field_with_errors' if @score.errors[:score].any? %>">
        <%= f.label :score %>
        <%= f.number_field :score %> 
    </div>
        <%= f.label :score_date %>
        <%= f.date_field :score_date %>

        <%= f.label :game_table, "Select a table" %>
        <%= f.collection_select :game_table_id, GameTable.all, :id, :name %>

        <%= f.submit "Record Score" %>
    <% end %>

    <br>
    
    <%= link_to 'New Table', new_game_table_path%>
    <br>
    <%= link_to 'Cancel', user_path(current_user)%>
    
    </body>
</html>
    