<h1> <%= @user.username%>'s Score Log: </h1>
<html>
<body>
    Your Most Recent Scores: <br>
    <% @scores.first(5).each do |s|%>
      Score: <%=s.score%>
      Table: <%=s.game_table.name%>  
      Date:  <%=s.score_date.strftime("%D")%>  
      <br>
    <% end %> 
    <br>
    Number of Scores: <%= @user.game_scores.count%><br>
    Favorite Table: <%= @table.name%>
    <br>
    <br>
    <%= link_to 'Add Score', new_user_game_score_path(@user)%>
    <br>
    <%= link_to 'See All Scores', user_game_scores_path(@user)%>
    <br>
    <%= link_to 'See Top User', user_most_scores_path%>
    <br>
 
    <%= link_to 'Logout', destroy_user_session_path, method: :delete%>
    </body>
</html>